
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Contact Details</h2>

<address>
    <p> <strong>Address:</strong>Bhakti plaza, Phase 1, Siddarth Nagar Society, Aundh, Pune, Maharashtra 411007 </p>


</address>

<address>

    <strong>Email ID:</strong> <a href="mailto:pecuniamarketing@gmail.com">pecuniamarketing@gmail.com</a>
</address>
