@model FinalProject.Controllers.LoanController
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/LoanLayout2.cshtml";
}

<h2>Status</h2>
<div>
    @TempData["buttonval"]
</div>



